**build
**dist
**__pycache__
**.pytest_cache
**.kivy
**venv
**env
**.env
***.pyc
***.pyo
**.vscode
# Archivos de configuración secretos
.env
secret_config.py

# Carpetas de entorno y caché (recomendado)
.venv/
__pycache__/
.buildozer/