{% extends "base.html" %}

{% block contenido %}
    <div class="header-icon-container ambar">
        <i class="fa-solid fa-magnifying-glass-chart"></i>
    </div>
    <h2 class="titulo">Buscar Meta</h2>
    <p class="subtitulo-main">Ingresa el ID para consultar la base de datos</p>
    
    <form method="POST" action="/buscar">
        <div class="form-group" style="text-align: left;">
            <label>ID de la Meta</label>
            <div class="input-wrapper">
                <i class="fa-solid fa-fingerprint"></i>
                <input type="number" name="id_meta" placeholder="Ej: 1" required>
            </div>
        </div>
        
        <button type="submit" class="btn-submit ambar">
            <i class="fa-solid fa-database"></i> Buscar en BD
        </button>
    </form>

    {% if mensaje %}
        <div class="alerta" style="margin-top: 20px;">
            <i class="fa-solid fa-triangle-exclamation"></i> {{ mensaje }}
        </div>
    {% endif %}

    {% if meta_encontrada %}
        <div class="resultado">
            <h3 style="color: var(--blue-strong); margin-top: 0; border-bottom: 2px solid #e2e8f0; padding-bottom: 10px;">
    <i class="fa-solid fa-hashtag"></i> Meta de Ahorro: {{ meta_encontrada.id_meta }}
</h3>
            <p><strong><i class="fa-solid fa-user fa-fw"></i> ID Usuario:</strong> {{ meta_encontrada.id_usuario }}</p>
            <p><strong><i class="fa-solid fa-bullseye fa-fw"></i> Meta:</strong> ${{ meta_encontrada.meta }}</p>
            <p><strong><i class="fa-regular fa-clock fa-fw"></i> Plazo:</strong> {{ meta_encontrada.plazo }} meses</p>
            <p><strong><i class="fa-solid fa-plus fa-fw"></i> Aporte Extra:</strong> ${{ meta_encontrada.extra }}</p>
            <p><strong><i class="fa-regular fa-calendar-check fa-fw"></i> Mes Extra:</strong> {{ meta_encontrada.mes_extra }}</p>
        </div>
    {% endif %}
    
    <a href="/" class="btn-secundario">
        <i class="fa-solid fa-arrow-left"></i> Volver al menú
    </a>
{% endblock %}