{% extends "base.html" %}

{% block contenido %}
    <div class="header-icon-container azul">
        <i class="fa-solid fa-server"></i>
    </div>
    <h2 class="titulo">Base de Datos Lista</h2>
    <p class="subtitulo-main">Configuración del servidor completada</p>
    
    <div class="exito" style="margin-top: 20px; font-size: 16px;">
        <i class="fa-solid fa-circle-check"></i> Las tablas se crearon exitosamente en Render.
    </div>
    
    <a href="/" class="btn-secundario">
        <i class="fa-solid fa-arrow-left"></i> Volver al menú
    </a>
{% endblock %}